<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset password for <%= email %></h1>
    <form action="" method="post">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br>
        <label for="password2">confirm password</label>
        <input type="password" name="password2" id="password2">
        <br>
        <input type="submit" value="reset password">
    </form>
</body>
</html>